{{#each perStoreResults}}
<div class="grid-item varsize-12.5-12.5-2-4">
<h1>Stores with "{{query}}"</h1>  
		{{this.store}}
</div>
{{/each}}

<div class="grid-item varsize-25-25-2-4">
<h1>Products of "{{query}}"</h1>
  
		<li>{{this.name}}</li>
  {{/each}}
</div>

<div class="grid-item varsize-25-25-2-4">
<h1>Products of "{{query}}"</h1>  
		<li>{{this.name}}</li>
  {{/each}}
</div>


<div class="grid-item varsize-25-25-2-7">
<div>
<h1>Aendere Seitenverhaeltnis so, dass Bild auf Handy maximier wird</h1>Maecenas lorem tellus, pellentesque et mattis ac, euismod sed felis. Maecenas fermentum bibendum mattis. Vivamus id vulputate eros. Quisque venenatis commodo augue nec aliquam. In euismod lorem non enim viverra pretium.
</div>
</div>

<div class="grid-item varsize-25-25-2-4">
B<br>Maecenas lorem 
</div>

<div class="grid-item varsize-25-25-2-4">
C<br>Maecenas lorem tellus, pellentesque et mattis ac, euismod sed felis. Maecenas fermentum bibendum mattis. Vivamus id vulputate eros. Quisque venenatis commodo augue nec aliquam. In euismod lorem non enim viverra pretium.
</div>

<div class="grid-item varsize-25-25-2-4">
D<br>Maecenas lorem tellus, pellentesque et mattis ac, euismod sed felis. Maecenas fermentum bibendum mattis. Vivamus id vulputate eros. Quisque venenatis commodo augue nec aliquam. In euismod lorem non enim viverra pretium.
</div>

<div class="grid-item varsize-12.5-12.5-2-4">
E<br>Maecenas lorem tellus, pellentesque et mattis ac, euismod sed felis. Maecenas fermentum bibendum mattis. Vivamus id vulputate eros. Quisque venenatis commodo augue nec aliquam. In euismod lorem non enim viverra pretium.
</div>

<div class="grid-item varsize-12.5-12.5-2-4">
	<div class"carousel-container">
		<div class="main-carousel" data-flickity='{ "cellAlign": "center", "contain": true, "initialIndex":0, "wrapAround": true }'>
		  <div class="carousel-cell">
		  Carousel<br>Maecenas lorem tellus, pellentesque et mattis ac, euismod sed felis. Maecenas fermentum bibendum mattis. Vivamus id vulputate eros. Quisque venenatis commodo augue nec aliquam. In euismod lorem non enim viverra pretium.
		  </div>
		  <div class="carousel-cell">
		  B<br>Maecenas lorem tellus, pellentesque et mattis ac, euismod sed felis. Maecenas fermentum bibendum mattis. Vivamus id vulputate eros. Quisque venenatis commodo augue nec aliquam. In euismod lorem non enim viverra pretium.
		  </div>
		  <div class="carousel-cell">
		  C<br>Maecenas lorem tellus, pellentesque et mattis ac, euismod sed felis. Maecenas fermentum bibendum mattis. Vivamus id vulputate eros. Quisque venenatis commodo augue nec aliquam. In euismod lorem non enim viverra pretium.
		  </div>
		  <div class="carousel-cell">
		  D<br>Maecenas lorem tellus, pellentesque et mattis ac, euismod sed felis. Maecenas fermentum bibendum mattis. Vivamus id vulputate eros. Quisque venenatis commodo augue nec aliquam. In euismod lorem non enim viverra pretium.
		  </div>
		</div>
	</div>
</div>
<div class="grid-item varsize-25-12.5-2-4">
	<div class"carousel-container">
		<div class="main-carousel-2" data-flickity='{ "cellAlign": "center", "contain": true, "initialIndex":0, "wrapAround": true }'>
		  <div class="carousel-cell varsize-50-50-1-1">
		  Carousel 2<br>...Maecenas lorem tellus, pellentesque et mattis ac, euismod sed felis. Maecenas fermentum bibendum mattis. Vivamus id vulputate eros. Quisque venenatis commodo augue nec aliquam. In euismod lorem non enim viverra pretium.
		  </div>
		  <div class="carousel-cell varsize-50-50-1-1">
		  B<br>Maecenas lorem tellus, pellentesque et mattis ac, euismod sed felis. Maecenas fermentum bibendum mattis. Vivamus id vulputate eros. Quisque venenatis commodo augue nec aliquam. In euismod lorem non enim viverra pretium.
		  </div>
		  <div class="carousel-cell varsize-50-50-1-1">
		  C<br>Maecenas lorem tellus, pellentesque et mattis ac, euismod sed felis. Maecenas fermentum bibendum mattis. Vivamus id vulputate eros. Quisque venenatis commodo augue nec aliquam. In euismod lorem non enim viverra pretium.
		  </div>
		  <div class="carousel-cell varsize-50-50-1-1">
		  D<br>Maecenas lorem tellus, pellentesque et mattis ac, euismod sed felis. Maecenas fermentum bibendum mattis. Vivamus id vulputate eros. Quisque venenatis commodo augue nec aliquam. In euismod lorem non enim viverra pretium.
		  </div>
		</div>
	</div>
</div>

<div class="grid-item varsize-25-6.25-2-4">
	<div class="carousel-cell-copy">
	  X<br>Maecenas lorem tellus, pellentesque et mattis ac, euismod sed felis. Maecenas fermentum bibendum mattis. Vivamus id vulputate eros. Quisque venenatis commodo augue nec aliquam. In euismod lorem non enim viverra pretium.
	</div>	
</div>
<div class="grid-item varsize-25-6.25-2-4">
	<div class="carousel-cell-copy">
	  X<br>Maecenas lorem tellus, pellentesque et mattis ac, euismod sed felis. Maecenas fermentum bibendum mattis. Vivamus id vulputate eros. Quisque venenatis commodo augue nec aliquam. In euismod lorem non enim viverra pretium.
	</div>	
</div>
<div class="grid-item varsize-100-3.125-2-4">
	<div class="carousel-cell-copy">
	  Footer
	</div>	
</div>